// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #000; 
  --ion-text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000;
    --ion-text-color: #fff;
  }
}