<ion-content
  [fullscreen]="true"
  [scrollY]="isKeyboardOpen"
  class="ion-padding"
  [class.keyboard-open]="isKeyboardOpen"
>
  <div [class.scroll-enabled]="isKeyboardOpen" class="div-center">
    <ion-img
      src="/assets/img/d0a734b33c1047f0a1ca0fe46fa8dd5f7062735c.png"
      class="icono"
    ></ion-img>

    <form [formGroup]="fb" (ngSubmit)="login()">
      
      <div class="input-group">
        <input
          type="email"
          name="email"
          placeholder="E-mail"
          formControlName="email"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          class="input-native"
        />
       <ion-text 
          *ngIf="fb.get('email')?.invalid && (fb.get('email')?.dirty || fb.get('email')?.touched)" 
          class="text-danger"
        >
          <p>El E-mail es requerido.</p>
        </ion-text>
      </div>

      <div class="input-wrapper">
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            name="password"
            placeholder="Contraseña"
            formControlName="password"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            class="input-native"
          />
          <button
            type="button"
            class="password-icon"
            (click)="mostrarPassword = !mostrarPassword"
            aria-label="Toggle password visibility"
          >
            <ion-icon [name]="mostrarPassword ? 'eye-off' : 'eye'"></ion-icon>
          </button>
        </div>

      <ion-text 
        *ngIf="fb.get('password')?.invalid && (fb.get('password')?.dirty || fb.get('password')?.touched)"
        class="text-danger">
        <p>La contraseña es requerida.</p>
      </ion-text>

      <ion-button type="submit">Ingresar</ion-button>

      <p style="text-align: center;">
        ¿Olvidaste tu contraseña?
        <a [href]="envi" style="color: #A0E1BE; text-decoration: none; padding-left: 1px;">
          Click aquí
        </a>
      </p>

      <ion-text style="color: #e74c3c; text-align: center;" *ngIf="loginError">
        <p style="margin: 0;">{{ loginError }}</p>
      </ion-text>

    </form>
  </div>
</ion-content>
